<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="localhost.Service" value="http://localhost:5790/Service.asmx"/>
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.8" />
    <authentication mode="Windows"/>
    <sessionState timeout="120"/>
    <customErrors mode="Off" defaultRedirect="NotFound.aspx">
      <error statusCode="404" redirect="NotFound.aspx" />
      <error statusCode="403" redirect="NotFound.aspx" />
    </customErrors>
    <pages controlRenderingCompatibilityVersion="4.0" clientIDMode="AutoID"/>
  </system.web>
  <system.webServer>
    <httpErrors errorMode="DetailedLocalOnly" existingResponse="PassThrough">
      <remove statusCode="404" subStatusCode="-1" />
      <error statusCode="404" path="/ClientSide/NotFound.aspx" responseMode="ExecuteURL" />
      <remove statusCode="403" subStatusCode="-1" />
      <error statusCode="403" path="/ClientSide/NotFound.aspx" responseMode="ExecuteURL" />
    </httpErrors>
  </system.webServer>
</configuration>